<div class="contaner mt-5">
    <div class="row" > 
        <div class="col text-center">
            <div id='jogo'></div>
            <button type="button" class="btn btn-dark">Iniciar</button>

        </div>
    </div>
</div>

<input type="hidden" id="_crsf" value=" <%= _csrf %>">
<link rel="stylesheet" href="/jogo/css/estilos.css">
<script src="/jogo/js/trex.js"></script>